.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea/

docker/data/
/src/test/resources/zk-single-kafka-single/
/src/test/resources/data/db/
/out/
/src/test/resources/elasticsearch-data/
/src/test/resources/data/
csvpath/
orcpath/
